@mixin icon($name, $code) {
    .icon.#{$name}:before { 
        content:$code;
    }
};

@font-face {
	font-family: 'halflings';
	src:url('halflings.eot') format('embedded-opentype'),
		url('halflings.woff') format('woff'),
		url('halflings.ttf') format('truetype'),
		url('halflings.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
    font: {
        family: 'halflings';
        style: normal;
        weight: normal;
        variant: normal;
    }
	line-height: inherit;
    margin-right: 0.2em;
    position: relative;
    top: .11em;
    speak: none;
	text-transform: none;
    
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@include icon(asterisk, "\2a");
@include icon(plus, "\2b");
@include icon(euro, "\20ac");
@include icon(minus, "\2212");
@include icon(cloud, "\2601");
@include icon(envelope, "\2709");
@include icon(pencil, "\270f");
@include icon(glass, "\e001");
@include icon(music, "\e002");
@include icon(search, "\e003");
@include icon(heart, "\e005");
@include icon(star, "\e006");
@include icon(star-empty, "\e007");
@include icon(user, "\e008");
@include icon(film, "\e009");
@include icon(th-large, "\e010");
@include icon(th, "\e011");
@include icon(th-list, "\e012");
@include icon(ok, "\e013");
@include icon(remove, "\e014");
@include icon(zoom-in, "\e015");
@include icon(zoom-out, "\e016");
@include icon(off, "\e017");
@include icon(signal, "\e018");
@include icon(cog, "\e019");
@include icon(trash, "\e020");
@include icon(home, "\e021");
@include icon(file, "\e022");
@include icon(time, "\e023");
@include icon(road, "\e024");
@include icon(download-alt, "\e025");
@include icon(download, "\e026");
@include icon(upload, "\e027");
@include icon(inbox, "\e028");
@include icon(play-circle, "\e029");
@include icon(repeat, "\e030");
@include icon(refresh, "\e031");
@include icon(list-alt, "\e032");
@include icon(lock, "\e033");
@include icon(flag, "\e034");
@include icon(headphones, "\e035");
@include icon(volume-off, "\e036");
@include icon(volume-down, "\e037");
@include icon(volume-up, "\e038");
@include icon(qrcode, "\e039");
@include icon(barcode, "\e040");
@include icon(tag, "\e041");
@include icon(tags, "\e042");
@include icon(book, "\e043");
@include icon(bookmark, "\e044");
@include icon(print, "\e045");
@include icon(camera, "\e046");
@include icon(font, "\e047");
@include icon(bold, "\e048");
@include icon(italic, "\e049");
@include icon(text-height, "\e050");
@include icon(text-width, "\e051");
@include icon(align-left, "\e052");
@include icon(align-center, "\e053");
@include icon(align-right, "\e054");
@include icon(align-justify, "\e055");
@include icon(list, "\e056");
@include icon(indent-left, "\e057");
@include icon(indent-right, "\e058");
@include icon(facetime-video, "\e059");
@include icon(picture, "\e060");
@include icon(map-marker, "\e062");
@include icon(adjust, "\e063");
@include icon(tint, "\e064");
@include icon(edit, "\e065");
@include icon(share, "\e066");
@include icon(check, "\e067");
@include icon(move, "\e068");
@include icon(step-backward, "\e069");
@include icon(fast-backward, "\e070");
@include icon(backward, "\e071");
@include icon(play, "\e072");
@include icon(pause, "\e073");
@include icon(stop, "\e074");
@include icon(forward, "\e075");
@include icon(fast-forward, "\e076");
@include icon(step-forward, "\e077");
@include icon(eject, "\e078");
@include icon(chevron-left, "\e079");
@include icon(chevron-right, "\e080");
@include icon(plus-sign, "\e081");
@include icon(minus-sign, "\e082");
@include icon(remove-sign, "\e083");
@include icon(ok-sign, "\e084");
@include icon(question-sign, "\e085");
@include icon(info-sign, "\e086");
@include icon(screenshot, "\e087");
@include icon(remove-circle, "\e088");
@include icon(ok-circle, "\e089");
@include icon(ban-circle, "\e090");
@include icon(arrow-left, "\e091");
@include icon(arrow-right, "\e092");
@include icon(arrow-up, "\e093");
@include icon(arrow-down, "\e094");
@include icon(share-alt, "\e095");
@include icon(resize-full, "\e096");
@include icon(resize-small, "\e097");
@include icon(exclamation-sign, "\e101");
@include icon(gift, "\e102");
@include icon(leaf, "\e103");
@include icon(fire, "\e104");
@include icon(eye-open, "\e105");
@include icon(eye-close, "\e106");
@include icon(warning-sign, "\e107");
@include icon(plane, "\e108");
@include icon(calendar, "\e109");
@include icon(random, "\e110");
@include icon(comment, "\e111");
@include icon(magnet, "\e112");
@include icon(chevron-up, "\e113");
@include icon(chevron-down, "\e114");
@include icon(retweet, "\e115");
@include icon(shopping-cart, "\e116");
@include icon(folder-close, "\e117");
@include icon(folder-open, "\e118");
@include icon(resize-vertical, "\e119");
@include icon(resize-horizontal, "\e120");
@include icon(hdd, "\e121");
@include icon(bullhorn, "\e122");
@include icon(bell, "\e123");
@include icon(certificate, "\e124");
@include icon(thumbs-up, "\e125");
@include icon(thumbs-down, "\e126");
@include icon(hand-right, "\e127");
@include icon(hand-left, "\e128");
@include icon(hand-up, "\e129");
@include icon(hand-down, "\e130");
@include icon(circle-arrow-right, "\e131");
@include icon(circle-arrow-left, "\e132");
@include icon(circle-arrow-up, "\e133");
@include icon(circle-arrow-down, "\e134");
@include icon(globe, "\e135");
@include icon(wrench, "\e136");
@include icon(tasks, "\e137");
@include icon(filter, "\e138");
@include icon(briefcase, "\e139");
@include icon(fullscreen, "\e140");
@include icon(dashboard, "\e141");
@include icon(paperclip, "\e142");
@include icon(heart-empty, "\e143");
@include icon(link, "\e144");
@include icon(phone, "\e145");
@include icon(pushpin, "\e146");
@include icon(usd, "\e148");
@include icon(gbp, "\e149");
@include icon(sort, "\e150");
@include icon(sort-by-alphabet, "\e151");
@include icon(sort-by-alphabet-alt, "\e152");
@include icon(sort-by-order, "\e153");
@include icon(sort-by-order-alt, "\e154");
@include icon(sort-by-attributes, "\e155");
@include icon(sort-by-attributes-alt, "\e156");
@include icon(unchecked, "\e157");
@include icon(expand, "\e158");
@include icon(collapse-down, "\e159");
@include icon(collapse-up, "\e160");
@include icon(log-in, "\e161");
@include icon(flash, "\e162");
@include icon(log-out, "\e163");
@include icon(new-window, "\e164");
@include icon(record, "\e165");
@include icon(save, "\e166");
@include icon(open, "\e167");
@include icon(saved, "\e168");
@include icon(import, "\e169");
@include icon(export, "\e170");
@include icon(send, "\e171");
@include icon(floppy-disk, "\e172");
@include icon(floppy-saved, "\e173");
@include icon(floppy-remove, "\e174");
@include icon(floppy-save, "\e175");
@include icon(floppy-open, "\e176");
@include icon(credit-card, "\e177");
@include icon(transfer, "\e178");
@include icon(cutlery, "\e179");
@include icon(header, "\e180");
@include icon(compressed, "\e181");
@include icon(earphone, "\e182");
@include icon(phone-alt, "\e183");
@include icon(tower, "\e184");
@include icon(stats, "\e185");
@include icon(sd-video, "\e186");
@include icon(hd-video, "\e187");
@include icon(subtitles, "\e188");
@include icon(sound-stereo, "\e189");
@include icon(sound-dolby, "\e190");
@include icon(sound-5-1, "\e191");
@include icon(sound-6-1, "\e192");
@include icon(sound-7-1, "\e193");
@include icon(copyright-mark, "\e194");
@include icon(registration-mark, "\e195");
@include icon(cloud-download, "\e197");
@include icon(cloud-upload, "\e198");
@include icon(tree-conifer, "\e199");
@include icon(tree-deciduous, "\e200");