// percentage 12columns max-width is 1200px, layout changed when screen width is below 768px

$max-width: 1200px;
$padding: 10px 15px;

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

.container > .row {
    display: table;
    width: 100%;
}

.container > .row > * {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: $padding;
}

@for $i from 1 to 12 {
    .row > .col-#{$i} {
        width: 100 / 12 * $i#{'%'};
    }
}

@media screen and (max-width: 768px) {
    .container > .row > * {
        width: 100%;
    }
}