<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layout-percentage</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="percentage.css">
</head>
<body>
    <div class="container display">
        <div class="row">
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
            <div class="col-1">1</div>
        </div>
        <div class="row">
            <div class="col-8">8</div>
            <div class="col-4">4</div>
        </div>
        <div class="row">
            <div class="col-4">4</div>
            <div class="col-4">4</div>
            <div class="col-4">4</div>
        </div>
        <div class="row">
            <div class="col-6">6</div>
            <div class="col-6">6</div>
        </div>
    </div>
</body>
</html>